<!DOCTYPE html>
<html lang="pt-BR   ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>

<body>
    <h1>I got here =) ..💚</h1>

    <h1>Lista de Artigos</h1>
    <ul>
        <% article.forEach(function(article) { %>
            <li>
                <h2>
                    <%= article.title %>
                </h2>
                <p>
                    <%= article.content %>
                </p>
            </li>
            <% }); %>
    </ul>

    <% if(title==='@nathanael' ) { %>
        <h1>
            <%= title %>
        </h1>
        <% } %>
</body>

</html>